/* variables */
:root {
    --main-color-princ: #16a34a;
    --clear-color-princ: #22c55e;
    --dark-color-princ: #15803d;

    --main-color-alt: #2563eb;
    --clear-color-alt: #3b82f6;
    --dark-color-alt: #1d4ed8;

    --text-font-family: Ubuntu, sans-serif;
    --title-font-family: Montserrat, sans-serif;
    --title-font-weight: 600;
}



/* my styles */

* {
    box-sizing: border-box;
}

body {
    font-family: var(--text-font-family);
}

body h1, h2 {
    font-family: var(--title-font-family);
    font-weight: var(--title-font-weight);
    text-decoration: underline dotted var(--main-color-princ) 2px;
}

body h1 {
    color: white;
}



/* HEADER */
header {
    height: 200px;
    display: flex;
    flex-direction: column;
}

div.header_container1 {
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

div.header_container2 {
    height: 75%;
    background-color: var(--main-color-princ);
}

div.header_circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

div.header_container_circles {
    display: flex;
    align-items: center;
    gap: 5px;
}

div.circle1 {
    background-color: var(--main-color-princ);
}

div.circle2 {
    background-color: var(--main-color-alt);
}

div.header_container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.header_container2 hr {
    border-top: 1px solid white;
    width: 25%;
}



/* MAIN */
main {
    height: auto;
}

div.main_container {
    width: 80%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

/* PROFIL */
section.profil {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section.profil h2 {
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

img.profil_img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--main-color-princ);
}


/* SKILLS */
section.skills {
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

section.skills h2 {
    height: 50px;
    display: inline-flex;
    justify-content: center;
}

section.skills ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

img.skill_img {
    width: 80px;
    height: 80px;
}


/* CONTACT */
section.contact {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.contact h2 {
    width: 100%;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

section.contact form {
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
}

section.contact div {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
}

section.contact input {
    background-color: rgb(241, 245, 250);
    border: none;
    height: 30px;
}

section.contact input.form_btn {
    height: 40px;
    width: 60px;
    background-color: var(--main-color-princ);
    color: white;
    border: none;
    border-radius: 5px;
}


/* FOOTER */
footer {
    width: 100%;
    height: 100px;
    background-color: var(--main-color-princ);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

footer p {
    color: white;
}



/* ECRANS DE 750PX MINIMUM */
@media (min-width:750px) {
    /* HEADER */
    div.header_container1 {
        justify-content: space-evenly;
    }

    /* MAIN */
    main {
        height: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    div.main_container {
        width: 60%;
        height: 500px;
    }

    /* PROFIL */
    section.profil {
        height: 60%;
        width: 80%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    section.profil h2 {
        width: 100%;
    }

    section.profil div.div_img, section.profil p {
        width: 40%;
    }



    /* SKILLS */
    section.skills {
        height: 25%;
    }

    section.skills ul {
        gap: 50px;
    }


    /* CONTACT */
    section.contact {
        width: 60%;
    }

    section.contact form {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    section.contact div.half {
        width: 49%;
    }

    section.contact div.full {
        width: 100%;
    }

    
}